body{
  background-color: rgb(66, 66, 66);
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 15px ;
  background-color: rgba(184, 84, 47, 0.266);
}

.header{
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  /*color: rgb(255, 68, 0);*/
  color: white;
}

.boxe input{
 display: flex;
 flex-direction: column;
 margin-top: 12px;
}

.container a{
  margin-top: 12px;
}

input#email, #text, #password{
  padding: 13px 100px ;
  /*border-radius: 40px;*/
  border-width:thin;
}

input#email:focus, #text:focus, #password:focus{
  padding: 13px 100px ;
  border-radius: 40px;
  border-width:thin;
  border-color: white;
}

#sub{
  padding: 13px 100px ;
  border-width:thin;
  border-color: white;
}

#sub{
  background-color: rgb(64, 22, 190);
  color: white;
}
#sub:hover{
  background-color: rgb(21, 194, 21);
  box-shadow: inset;
  
}

a{
  color: white;
}

a:hover{
  color: pink;
}